<h1>Let's focus on one task</h1>

<%= link_to  "Edit the task", task_edit_path(@task.id) %> 
<h2>Your task : <%= @task.title%></h2>
<p>You have to do : <%= @task.details%></p>

<%=  link_to 'Back', tasks_path%>
