@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

h1 {
  font-size: 24;
  font-weight: 600;
  border-bottom: 2px solid rgb(43, 43, 43);
}

body {
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

input {
  border: 2px solid rgb(207, 108, 108);
}
